/* GLOBAL */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: black;
}

.body {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.body video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* NAVBAR */
nav {
  position: absolute;
  left: 0;
  width: 97%;
  padding-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
}

.nav-links a:hover {
  color: #00bfff;
  font-size: 20px;
  transition: 0.3s ease;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

/* HERO TEXT */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 5;
}

.hero h2 {
  font-size: 80px;
  font-weight: 1000;
}

.hero p {
  margin-top: -40px;
  font-size: 30px;
  font-weight: 700;
}

/* MIDDLE */
.middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  gap: 20px;
}

.box {
  height: 475px;
  width: 100%;
  border-radius: 20px;
  padding: 1px;
  background-color: rgba(0, 27, 110, 0.465);
  color: rgb(255, 238, 81);
}

.box:hover {
  background-color: rgb(0, 18, 72);
  transition: 0.6 ease;
  color: rgb(108, 248, 101);
}

.box img {
  width: 330px;
  align-items: center;
  padding-left: 6px;
  padding-top: 10px;
  border-radius: 25px;
}

.box img:hover {
  width: 340px;
  transition: 0.4s ease;
  align-items: center;
  padding-left: 6px;
  padding-top: 10px;
}

.box p {
  font-size: 20px;
  margin-top: -30px;
  padding: 20px;
}

.box h5 {
  font-size: 15px;
  margin-top: 10px;
  padding-left: 20px;
}

/* RAINBOW */
.rainbow {
  position: relative;
  height: 300px;
  background: url("i20.jpeg") left/cover no-repeat;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.ad {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  padding: 20px;
  margin-top: -30px;
  padding-left: 200px;
  padding-right: 200px;
  background: linear-gradient(90deg,
      #b388ff,
      #7ee8fa,
      #a8ff78,
      #ffd86f,
      #ff8fa3);
}

.OUT {
  font-weight: bolder;
  font-size: 40px;
  padding-top: 15px;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.utube {
  padding-bottom: 50px;
  padding-top: 0px;
}

.rainbow img {
  height: 120px;
  width: 140px;
  margin-bottom: -80px;
  margin-top: 0px;
}

.rainbow img:hover {
  height: 140px;
  width: 160px;
  transition: 0.3s ease;
}

/* LOWER-END */
.lower-end {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-top: 80px;
}

.box1 {
  margin-top: -80px;
  height: 640px;
  width: 100%;
  border-radius: 10px;
  padding: 1px;
  color: rgb(255, 225, 58);
  position: relative;
}

.box1:hover {
  background-color: rgb(0, 18, 72);
  transition: 0.6 ease;
  color: rgb(108, 248, 101);
}

.box1 img {
  width: 359px;
  height: 640px;
  align-items: center;
}

.box1 h3 {
  font-size: 25px;
  margin-top: -100px;
  padding-left: 20px;
}

.overlay1 {
  position: absolute;
  inset: 0;
  background: rgba(255, 110, 255, 0.439);
}

.overlay2 {
  position: absolute;
  inset: 0;
  background: rgba(0, 170, 255, 0.439);
}

.overlay1:hover {
  position: absolute;
  inset: 0;
  background: rgba(133, 244, 73, 0.439);
}

.overlay2:hover {
  position: absolute;
  inset: 0;
  background: rgba(255, 246, 77, 0.439);
}

/* MAIL/SIGNUP */
.mail {
  position: absolute;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -400px;
  width: 1000px;
  height: 200px;
  font-family: serif;
  margin-left: 200px;
  padding: 30px;
  border-radius: 60px;
}

.sign {
  color: white;
  font-weight: bolder;
  background-color: rgba(254, 255, 240, 0.477);
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -200px;
  font-size: 25px;
  font-variant: inherit;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 600px;
  border-color: azure;
  border-radius: 60px;
}

.sign:hover {
  transition: 0.3s ease;
  font-size: 30px;
  background-color: rgba(254, 255, 240, 0.577);
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
}

.footer img {
  height: 50px;
  width: 48px;
}

.footer1 {
  padding-top: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-left: 225px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer1 a {
  color: white;
}

.copyright {
  padding: 50px;
  text-align: center;
}

.copyright a {
  color: white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* RESPONSIVE */
@media (max-width: 1215px) {

  .hero h2 {
    font-size: 40px;
  }

  .hero p {
    font-size: 20px;
    margin-top: 0;
  }

  .box,
  .box1 {
    height: auto;
  }

  .ad {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
  }

  .mail {
    font-size: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px;
  }

  .sign {
    margin-top: 40px;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    gap: 20px;
  }

  .footer1 {
    padding-top: 40px;
    display: grid;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    grid-template-columns: 1fr;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .footer img {
    height: 45px;
    width: 44px;
  }

  .logo {
    color: white;
    font-size: 12px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: -15px;
  }

  .nav-links a {
    color: white;
    font-size: 12px;
  }
}